@model PagedList.IPagedList<StronaMuzy.Models.Login>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}

        <h3>
            <span class="label glyphicon-bishop">@Html.ActionLink("Add new User", "Create")</span>
        </h3>
@using (Html.BeginForm())
{
    <p>
        Find by Username: @Html.TextBox("searchBox", ViewBag.Filter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Username", "Index", new { sort = ViewBag.UsernameSort, filter = ViewBag.Filter })
        </th>
        
        <th>
            Password
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sort = ViewBag.EmailSort, filter = ViewBag.Filter })
        </th>
        <th>
            @Html.ActionLink("Firstname", "Index", new { sort = ViewBag.FirstnameSort, filter = ViewBag.Filter })
        </th>
        <th>
            @Html.ActionLink("Lastname", "Index", new { sort = ViewBag.LastnameSort, filter = ViewBag.Filter })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sort = ViewBag.DateSort, filter = ViewBag.Filter })
        </th>
        <th>
            @Html.ActionLink("Role", "Index", new { sort = ViewBag.RoleSort, filter = ViewBag.Filter })
        </th>
        <th></th>
    </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sort = ViewBag.CurrentSort, filter = ViewBag.Filter }))